.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.toggled {
  background-color: red;
}
