.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem;
  min-height: 100vh;
  width: 100%;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  width: 100%;
}

.comboGrid {
  display: grid;
  grid-template-columns: 6rem 2rem 1.5rem 3rem 1.5rem 2rem 6rem;
  grid-gap: 6px;
  margin-top: 10px;
  font-size: 14px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.1s;
}


.g1 .gridItem.toggled {
  background-color: #ffa500;
}

.g2 .gridItem.toggled {
  background-color: #008000;
}

.gridItem {
  background-color: #202020;
}

.combos {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.rank {
  width: 1rem;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.g1.rank {
  border-color: #ffa50099;
}

.g2.rank {
  border-color: #00800099;
}

@media (min-width: 1200px) {
  .gridContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    gap: 1rem;
  }
}

@media (max-width: 1200px) {
  .gridContainer {
    max-width: 700px;
    width: 100%;
  }

  .gridItem {
    min-height: 1.8rem;
    min-width: 1.8rem;
    font-size: 17px;
  }
}

@media (max-width: 780px) {
  .gridItem {
    font-size: 15px;
  }
}

@media (max-width: 500px) {

  .gridItem {
    font-size: 13px;
  }
}
