.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-height: 2.5rem;
  min-width: 2.5rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.gridItem.toggled {
  background-color: red;
}

.gridItem {
  background-color: #202020;
}
